/* whole page */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
html {
    scroll-snap-type: y mandatory; /* kilde */
  }
html, body, section {
    block-size: 100%;
  }


/* header */
header {
    height: 200vh;
  }
  .top {
    clip: rect(0, auto, auto, 0); /* kilde */
    position: absolute;
    height: 100vh;
    left: 0;
    width: 100%;
    scroll-snap-align: start; /* kilde */
  }
  .top_color {
    background: rgb(255, 255, 255);
  }
  .fashion_title {
    position: fixed;
    display: block;  
    margin: auto;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
  .fashion_title h1 {
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    color: white;
  }
  .top_color .fashion_title h1 {
    background: url(img/cloth\ pile-kopi.webp);
    background-position: center;
    color: transparent;
    -webkit-text-fill-color: transparent; /* kilde */
    background-clip: text; /* kilde */
    color: rgb(0, 0, 0); /*fallback color*/
  }
  .top_image {
    background-image: url(img/cloth\ pile-kopi.webp);
    background-position: center;
    background-attachment: fixed;
    top: 100vh;
  }
  .top_image p {
    position: relative;
    color: white;
    font-size: 25px;
    margin-left: 5%;
    max-width: 600px;
  }
  .opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }



  /* slide one, two and three */
  section {
    display: flex;
    justify-content: center;
    scroll-snap-align: start; /* kilde */
  }

  .slide__marketing {
    background-color: #223653;
    color: white;
    align-items: center;
  }
  .slide__marketing h2{
    padding: 5%;
  }
  .slide__img1 {
    max-width: 700px;
    position: absolute;
    margin-bottom: 300px;
    margin-left: 1000px;
  }
  .slide__img2 {
    max-width: 600px;
    position: absolute;
    margin-bottom: 200px;
    margin-right: 300px;
  }
  .slide__marketing h2:first-of-type {
    margin-bottom: 300px;
  }
  .slide__marketing h2:nth-of-type(2) {
    margin-bottom: 600px;
  }
  .slide__marketing h2:nth-of-type(3) {
    margin-top: 500px;
  }

  .slide__brands {
    background-image: linear-gradient(rgb(131, 118, 100), rgb(69, 49, 40));
    align-items: center;
    flex-direction: column;
  }
  .slide__brands ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 30px;
  }
  .slide__brands h2 {
    font-size: 35px;
    font-weight: lighter;
  }
